.header__logo {
    width: 142px;
    height: 33px;
    margin: 0 auto 41px 0;
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin: 0 189.26px 27px 27px;
    }
}