.profile__info {
    padding: 0;
    margin: 0;
    margin-top: 22px;
    margin-bottom: 25px;
    margin-left: 30px;
}

@media screen and (max-width:767px) {
    .profile__info {
        margin: 26px 0 0 0;
    }
}