.form__submit-button_item {
    margin-top: 216px;
    background: #FFFFFF;
    border-radius: 2px;
    cfont-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}